button {
  background-color: #3dac11;
  border: none;
  border-radius: 3px;
  transition: background-color 0.5s, font-size 0.3s;
  min-width: 80px;
  min-height: 30px;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

button:hover {
  background-color: #4edc16;
}

button:active {
  background-color: #28730a;
  font-size: 10px;
  transition: font-size 0s;
}

.header {
  display: flex;
  place-content: center;
  margin: 10px;
  column-gap: 5%;
  align-items: center;
}

.timer {
  display: flex;
  place-content: center;
}

.game {
  height: 100%;
  display: flex;
  justify-content: center;
  /* flex-shrink: 0; */
  flex-grow: 1;
}

app-board {
  display: flex;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-grow: 1;
}

/* small screens overflow into the left, so screw centering, just do this.*/
@media (max-width: 850px) {
  app-board {
    justify-content: left;
  }
  .game {
    justify-content: left;
  }
}
