/* You can add global styles to this file, and also import other style files */
html, body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: calc(100% - 10px);
  margin: 0;
  padding: 5px;
  width: 100%;
  flex-grow: 1;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex-grow: 1;
}
